*{
    margin: 0;
    padding: 0;
    list-style: none;
}
button{
    cursor:pointer;
}
.app_background{
    background-color: #fafafa;
}

#app_top{
    width: 100%;
    height: 43px;
    position: fixed;
    z-index: 100;
    background-color: #3d3d3d;
}
#app_body{
    max-width: 980px;
}
#top_inner{
    max-width: 950px;
}
#left_menu{
    user-select: none !important;
    float: left;
    width: 265px;
    padding-left: 30px;
    padding-top: 50px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid #f1f1f1;
    background-color: #fafafa;
    z-index: 80;
    transition: left .1s ease-in;
   
}

#left_menu{

}

#left_menu:hover{
    overflow-y: auto;
}
.logo{
    margin-left: 36px;
    padding-top: 9px;
    float: left;
}
.small .logo{
    display: none;
}
.small .left_menu_hide{
    display: block;
}
.small .left_menu_hide .menu_appear{
    background-position: 0 -694px !important;
}
.small .quick_find{
    margin: 0;
}
.small #left_menu{
    left: -320px ;
    float: none ;
}
.click #app_body #left_menu{

    left: 0;
}
.small #main_content{
    margin: 0;
}
.shutter{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;;
    z-index: 50;
    display: none;
}
.click .shutter{
    display: block;
}
.left_menu_hide{
    cursor: pointer;
    float: left;
    padding: 12px 0 0 10px;;
    display: none;

}
.left_menu_hide img{
    background: url(../img/icon.png) 0 0 no-repeat;
   
    width: 20px;
    height: 15px;
}
.left_menu_hide .menu_hide{
    background-position: 0 -711px !important;
}
.small .quick_find{
    margin-left: 40px;
}
.quick_find{
    white-space: nowrap;
    margin-left: 317px;
    padding-top: 5px;
}
.quick_find_click .quick_find_input{
    background-color: #fff;
    width: 99%;
    position: relative;
    z-index: 10;
    border: 1px solid #eeeeee;
    color: #202020;
}
.quick_find_click .zoom{
    background-position: 0 -1070px;
    z-index: 15;
}
.quick_find_click .help_icon img{
   
    background-position: 0 -1052px;
    opacity: 1;
}
.top_logo{

    width: 25px;
    height: 25px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -2544px;

}
.quick_find_input{
    border: 1px solid transparent !important;
    border-radius: 3px;
    padding: 5px;
    width: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    color: #fff;
    padding-left: 30px;
    margin-top: 2px;
    background: 0;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.top_icon{
    float: right;
}
.top_icon span{
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 100%;
    padding: 12px 10px 0 10px;
    margin-left: 20px;
    cursor: pointer;
}
.top_add img{
    height: 18px;
    width: 18px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -1141px;
}
.top_message img{
    height: 18px;
    width: 18px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -1032px;
}
.top_set img{
    height: 18px;
    width: 18px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -1158px;
}   
.zoom{
    width: 16px;
    height: 16px;
    background: url(../img/icon.png)0 0 no-repeat;
    background-size: 197px,3538px;
    background-position: 0 -1412px;
    position: absolute;
    
    margin-top: 9px;
    margin-left: 8px;
    cursor: text !important;
    -webkit-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}

.help_icon{
    position: relative;
    z-index: 15;
    padding: 0 5px;
    margin-left: -24px;
    opacity: 1;
}
.help_icon img{
    opacity: 0;
    margin-top: -3px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-size: 197px,3538px;
    background-position: 0 -1394px;
    width: 16px;
    height: 16px;
}
.menu_top_main{
    padding-top: 24px;
}
.menu_content{
    font-size: 14px;
    cursor: pointer;
    padding: 9px 16px 9px 4px;
    display: flex;
    align-items: center; 
    transition: color .1s ease-in,background-color .1s ease-in;
}
.menu_content:hover{

    background-color: #fff;
}
#current{
    font-weight: bold;
    background-color: #fff;
}
.menu_icon{
    height: 24px;
    margin-right: 10px;
}
.menu_name{
    margin-right: 5px;
}
.menu_low_panel{
    
}
.expand{
    border-bottom: 1px solid #f1f1f1;
}
.menu_low_summary{

    padding: 12.5px 0;
    position: relative;
    cursor: pointer;
}
.menu_low_summary_icon {

    position: absolute;
    top: 7px;
    padding-left:   7px;
   
}
.menu_low_summary_icon svg{
    transform: rotate(-90deg);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1);
}


.menu_low_summary_content{
    padding-left: 40px;
    position: relative;
}
.menu_low_summary_content svg{
    position: absolute;
    top: 2px;
    left: 230px;
    fill: rgba(0,0,0,.3)
}
.menu_low_summary_content svg:hover{
    fill: rgba(0,0,0,0.6);
}
.expand .menu_low_summary_icon svg{
    transform: rotate(0);
}

.collapse__wrapper{
    height: 0;
    overflow: hidden;
    transition: height 300ms cubic-bezier(0.4,0,0.2,1);
    border-top: 1px solid #f1f1f1;
}
#project{
    padding-top: 10px;
}
#project li div{

    padding: 6.5px 0 6.5px 4px;
    font-weight: 200;

}

.project_move{
    position:absolute;
    margin-left: -10px;
    z-index:99;
}
.project_move img{
    position: relative;
    z-index: 200 ;
}
.project_color::before{
    content: " ";
    height: 10px;
   width: 10px;
    background-color: aquamarine;
    display:inline-block;
    border-radius: 50%;
    
}
.project_name{

    padding-left: 15px;
    font-size: 15px;
}

.project_color{
   padding-left: 10px;

    
}
.project_option{
   
}
.project_option img{
    background: url("../img/icon.png") 0 0 no-repeat;
    background-position: 0 -2060px;
     height: 16px;
    width: 18px;
}
    



#main_content{
    background-color: #fff;
    padding: 0 20px;
    margin-left: 284px;
    border-right: 1px solid #f1f1f1;
}

.add_project_name{
    font-size: 14px;
}
.add_project_name p{
    cursor: pointer;
    padding-left: 15px;
}
.add_project_sub{
    padding-left: 15px;
}
.add_project_sub:hover{


    text-decoration: underline;
}

.project_open .sub_project{
    display: none;
}
.project_close .add_p{
    display: none;
}
.sub_project{
    margin:20px 0;
}
.sub_project_name{
    height: 20px;
    padding: 7px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 230px;
    border: 1px solid #f1f1f1;
}
.pro_col::before{
    content: " ";
    height: 10px;
   width: 10px;
    background-color: aquamarine;
    display:inline-block;
    border-radius: 50%;
    margin-left: 8px;
}
.sub_project_content{
    display: inline-block;
    height: 20px;
    width: 200px;
    background-color: #fff;
    outline: none;
    padding-left: 10px;
}
.sub_yes{
    height: 30px;
    width: 80px;
    font-size: 13px;
    color: #fff;
    background-color: #3d3d3d;
    border-radius: 5px;
    font-weight: 200;
    outline: none;
}
.sub_no{
    border: none;
    background-color: transparent;
    outline: none;

}
.sub_project_no:hover{
    text-decoration: underline;
}
#project  img{
    height: 20px;
    width: 25px;
    background: url("../img/icon.png") 0 0 no-repeat;
    background-position: 0 -1102px;
    position: absolute;
    left: 200px;
    top: 8px;
    opacity: 0;


}
#project li:hover img{
    opacity: .5;
}
#project li  img:hover{
    opacity: 1;
}
#project li {
    position: relative;
    cursor: pointer;
}
#project li:hover{
    background-color: #fff;
}
.tag_background_white{
    background-color: #fff;
}
.main_hide{
    display: none;
}
.main_show{
    display: block;
    padding-top: 70px;
    padding-left: 50px;
}

.tag_background_hide{
    display: none;
}
.today_time{
    font-size: 12px;
    font-weight: 100;
}
.add_t p{

    padding-top: 30px;
    opacity: .5;
    transition: left .1s ease-in;
}
.add_t p:hover{
  opacity: 1;
   
}
.add_task{
    padding-left: 20px;
    cursor: pointer;
    
}
.add_task:hover{
    text-decoration: underline;   
}


.add_task_icon{
    transition: left .1s ease-in;
}
.sub_task_body{
    height: 30px;
    padding: 7px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 90%;
    border: 1px solid #eee;
}
.sub_task_holder{
    width: 100%;
    border-right: 1px solid #eee;
}
.sub_task_content,.sub_task_date{
    height: 15px;
    outline: none;
    display: inline-block;
    padding: 0 6px;
    padding-top: 4px;
    
}
.sub_task_content{
    border: 0;
    width: 90%;
    
}
.sub_task_date{
    width: 110px;
    float: right;
}
table{
    width: 90%;
    border-collapse: collapse;
}
td{
    height: 40px;
    padding-left: 10px;
    border:1px solid #eee;
    outline: none;

}